* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    min-height: 100vh;
    background: linear-gradient(#294a64, #1b1e47);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
   align-items: center;
   background-color: #294a64;
   border: #1b1e47 1px solid;
}
img {
    color:white;
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    initial-letter: 2px;
    letter-spacing: 2px;
}
.navprincipal {
    display: inline;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 20px;
}
.navprincipal > a {
    text-decoration: none;
    padding: 6px 15px;
    color: white
}
.navprincipal:hover {
    background: white;
}
.navprincipal a:hover {
    color: #294a64;
}