@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --primary-color: #5d65ee;
    --second-color: #d8d8d8;
    --thirdy: #b8b7b7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #d8d8d8;
}

header {
    background-color: #5d65ee;
    position: absolute ;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 30 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
   text-transform: uppercase;
   font-size: 2em;
   font-family: montserrat;
}

